<a href="https://colab.research.google.com/github/ryu-jihye/finance_python/blob/main/%ED%8C%90%EB%8B%A4%EC%8A%A4_%EC%98%88%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    "name": ["Bob", "Alex", "John"],
    "age": [60, 25, 33]
})

In [10]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [8]:
df["age_plus_one"] = df["age"] + 1
df["age_times_two"] = 2 * df["age"]
df["age_squared"] = df["age"] * df["age"]
df["over_30"] = (df["age"] > 30)

In [9]:
total_age = df["age"].sum()
median_age = df["age"].quantile(0.5)
df_below50 = df[df["age"] < 50]
df["age_squared"] = df["age"].apply(lambda x: x * x)

In [11]:
df_w_name_as_ind = df.set_index("name")
print(df_w_name_as_ind.index)

Index(['Bob', 'Alex', 'John'], dtype='object', name='name')